body {

    background-color: rgba(67, 203, 212, 0.76);
}

h1 {

    
    font-size: 2rem;
    color: white
    font-family: 'Poppins', sans-serif;
    text-align: center;
    margin-top: 5%
}

.img-galeria{

    display: : flex;
    height: 10rem;
    gap: 1rem
    margin-top: 10%
} 

img {
    flex: 2;
    border-radius: 1rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto 100%;
    transition: 
    all .8s cubic-bezier(.25, .4, .45, 1.4);

}
button {
    
    margin-top: 10% ;
    width: 200px;
    height: 30px;
    background-color: rgba(35, 38, 214, 0.678) ;
    border-radius: 1rem;
    
}

img: hover {
    flex: 5;
}